
<div class="game-container">
    <h1>Higher or Lower Game</h1>
   
    <!-- <div *ngIf="gameState?.currentCard">
      <p><strong>Current Card:</strong> {{ gameState.currentCard }}</p>
    </div> -->
  
    <div class="score-container" *ngIf="gameState?.score !== undefined">
      <p><strong>Score:</strong> {{ gameState.score }}</p>
    </div>

    <div *ngIf="gameState?.currentCard">
    <div class="card-container">
      <!-- Card display -->
      <div class="card">
        <div class="card-header">
          <!-- Rank and Suit at top-left and top-right -->
            <span class="card-rank"
            [ngClass]="{
              'red-suit': gameState?.currentCard?.suit === 'Hearts' || gameState?.currentCard?.suit === 'Diamonds',
              'black-suit': gameState?.currentCard?.suit === 'Clubs' || gameState?.currentCard?.suit === 'Spades'
            }">{{ gameState.currentCard.rank }}</span>
          <span class="card-rank"
          [ngClass]="{
            'red-suit': gameState?.currentCard?.suit === 'Hearts' || gameState?.currentCard?.suit === 'Diamonds',
            'black-suit': gameState?.currentCard?.suit === 'Clubs' || gameState?.currentCard?.suit === 'Spades'
          }">{{ gameState.currentCard.rank }}</span>
        </div>
        <div class="card-body">
          <!-- Central rank representation -->
          <div class="card-rank-body"
          [ngClass]="{
            'red-suit': gameState?.currentCard?.suit === 'Hearts' || gameState?.currentCard?.suit === 'Diamonds',
            'black-suit': gameState?.currentCard?.suit === 'Clubs' || gameState?.currentCard?.suit === 'Spades'
          }">
          {{ gameState.currentCard.suit }}
          <ng-container *ngIf="gameState?.currentCard?.suit === 'Hearts'">
            <i class="bi bi-suit-heart-fill"></i>
          </ng-container>
          <ng-container *ngIf="gameState?.currentCard?.suit === 'Diamonds'">
            <i class="bi bi-suit-diamond-fill"></i>
          </ng-container>
          <ng-container *ngIf="gameState?.currentCard?.suit === 'Clubs'">
            <i class="bi bi-suit-club-fill"></i>
          </ng-container>
          <ng-container *ngIf="gameState?.currentCard?.suit === 'Spades'">
            <i class="bi bi-suit-spade-fill"></i>
          </ng-container></div>
        </div>
        <div class="card-footer">
          <!-- Rank and Suit at bottom-left and bottom-right -->
          <span class="card-rank"
          [ngClass]="{
            'red-suit': gameState?.currentCard?.suit === 'Hearts' || gameState?.currentCard?.suit === 'Diamonds',
            'black-suit': gameState?.currentCard?.suit === 'Clubs' || gameState?.currentCard?.suit === 'Spades'
          }">{{ gameState.currentCard.rank }}</span>
          <span class="card-rank"
          [ngClass]="{
            'red-suit': gameState?.currentCard?.suit === 'Hearts' || gameState?.currentCard?.suit === 'Diamonds',
            'black-suit': gameState?.currentCard?.suit === 'Clubs' || gameState?.currentCard?.suit === 'Spades'
          }">{{ gameState.currentCard.rank }}</span>
        </div>
      </div>
    </div>
  
    <!-- Buttons for Higher and Lower -->
  <div class="buttons-container">
    <button class="guess-buttons" (click)="makeGuess('higher')" [disabled]="gameOver">Higher</button>
    <button class="guess-buttons" (click)="makeGuess('lower')" [disabled]="gameOver">Lower</button>
  </div>

   <div *ngIf="gameOver">
  <div class="start-new-container">
    <button class="start-new-button" (click)="startNewGame()">Start New Game</button>
  </div>
</div> 

  </div>
</div>
